.game {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.game__info {
  margin-left: 50px;
}

.game__status {
  margin-bottom: 10px;
}

.game__travel-button {
  border: none;
  background: var(--maize-crayola);
  color: var(--indigo-dye);
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
  font-family: "Mochiy Pop P One", sans-serif;
  margin-left: 10px;
}
